@reference "tailwindcss";

.editor {
  @apply block border border-slate-300 rounded shadow-md overflow-hidden;

  .section {
    @apply py-3 px-2;
    &.compact { @apply py-1; }
  }
  .field {
    @apply my-8 relative p-4;  

    label { 
      @apply absolute top-0 left-4 text-sm font-semibold text-slate-500;
      &:has(+ [required]) {
        &::after {
          @apply pl-1 text-red-300 content-['*'];
        }
      }
      &.dirty {
        @apply text-slate-950;
      }
    }
    
  
    input, .input, select, .select, textarea, .textarea {
      @apply block w-full p-4 col-span-4 text-lg
        bg-slate-50 text-slate-800 
        disabled:bg-white
        focus:bg-white focus:text-black
        border border-white border-b-slate-400 rounded-md
        disabled:border-none
        invalid:border-b-red-500 invalid:bg-red-100;
    }
  
    .message {
      @apply col-span-4 col-start-2;
    }    
  }

  .compact .field {
    @apply my-3 py-2 px-4;  
    
    label {
      @apply -top-2 left-2;
    }
    input, .input, select, .select, textarea, .textarea {
      @apply py-1 px-2 text-base;
    }
  }


  .action {
    @apply py-2 px-4 bg-slate-200 font-bold rounded-lg cursor-pointer 
      disabled:opacity-40 disabled:cursor-not-allowed;
    &.action-default {
      @apply bg-slate-700 text-white;
    }
     
  }
}