@reference "tailwindcss";

:host {
  display: block;

  .overlay {
    @apply fixed top-0 bottom-0 left-0 right-0 bg-slate-100/50 z-40;
  }
  .modal {
    @apply fixed top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%] 
      min-w-xl
      z-50 bg-white/95 border-2 border-slate-300 rounded-xl shadow-lg overflow-hidden;
  }
}