<!-- menu button -->
@if (isNew()) {
  <button 
    type="button"
    (click)="toggle()"
    title="new project"
    class="py-1 px-2 cursor-pointer">
    <fa-duotone-icon [icon]="icons.new" [size]="iconSize()" />
    <span class="sr-only">add new project</span>  
  </button>
} 
@else {
  <app-project-card-menu [status]="projectModel().status" (activate)="btnActivate($event)" />
}

@if(active()) {

  <div class="overlay"></div>
  <div class="modal">
      <!-- header -->
      <div class="section thin font-bold bg-slate-500 text-slate-50 flex items-center">
        <span class="flex-1">{{isNew() ? 'New' : 'Edit'}} Project</span>
        <button 
          type="button"
          (click)="cancelEdits()"
          class="py-1 px-2 cursor-pointer">
          <fa-duotone-icon [icon]="icons.close" />
        </button>
      </div>
      <!-- body -->
      <form class="section">
        <div class="field">
          <label for="name" [class.dirty]="projectForm.name().dirty()">Name:</label>
          <input
            type="text"
            id="name"
            [formField]="projectForm.name"
          />
          <app-input-error-message [state]="projectForm.name()" />
        </div>
        <div class="field">
          <label for="client" [class.dirty]="projectForm.client().dirty()">Client:</label>
          <input
            type="text"
            id="client"
            placeholder="(internal)"
            [formField]="projectForm.client"
          />
          <app-input-error-message [state]="projectForm.client()" />
        </div>
        <div class="field">
          <label for="status" [class.dirty]="projectForm.status().dirty()">Status:</label>
          <select
            type="text"
            id="status"
            [formField]="projectForm.status"
          >
            <option disabled value="">--- select status ---</option>
            @for (item of statusOptions; track item) {
              <option [value]="item">{{item}}</option>
            }
          </select>
          <app-input-error-message [state]="projectForm.status()" />
        </div>
        <div class="field">
          <label for="type" [class.dirty]="projectForm.type().dirty()">Type:</label>
          <select
            type="text"
            id="type"
            [formField]="projectForm.type"
          >
            <option disabled value="">--- select type ---</option>
            @for (item of typeOptions; track item) {
              <option [value]="item">{{item}}</option>
            }
          </select>
          <app-input-error-message [state]="projectForm.type()" />
        </div>
        <div class="field">
          <label for="startDate" [class.dirty]="projectForm.startDate().dirty()">Start:</label>
          <input
            type="date"
            id="startDate"
            placeholder="dd/mm/yyyy"
            [formField]="projectForm.startDate"
          />
          <app-input-error-message [state]="projectForm.startDate()">
            <span class="text-right text-sm">error</span>
          </app-input-error-message>
        </div>
      </form>
      <!-- actions -->
      <div class="section bg-slate-100">
        <div class="py-2 flex justify-center gap-2 bg-slate-100">
          <button 
            type="button"
            [disabled]="!projectForm().dirty() || projectForm().invalid()"
            (click)="saveEdits()"
            class="action action-default">
            save
          </button>
          <button 
            type="button"
            (click)="cancelEdits()"
            class="action">
            cancel
          </button>
        </div>
      </div>
  </div>
}