<div class="flex justify-center items-center gap-1">
  <h2>Timer</h2>
  <app-timer-popup-editor />
</div>
<div class="flex justify-center">
    @switch (timer.view()) {
      @case ('ring') {
        <app-timer-ring [remaining]="timer.remaining()" [percent]="timer.percent()" />
      }
      @case ('bar') {
        <div class="flex-1">
          <app-timer-bar [remaining]="timer.remaining()" [percent]="timer.percent()" />
        </div>
      }
      @case ('fill') {
        <app-timer-fill [remaining]="timer.remaining()" [percent]="timer.percent()" />
      }
    }
</div>
<div class="flex justify-center items-center gap-4">
  @switch (timer.state()) {
    @case ('idle') {
      <button 
        type="button"
        title="start the timer"
        (click)="timer.start()"
        class="btn">
        <fa-duotone-icon [icon]="icons.start" />
      </button>
    }
    @case ('running') {
      <button 
        type="button"
        title="pause the timer"
        (click)="timer.pause()"
        class="btn">
        <fa-duotone-icon [icon]="icons.pause" />
      </button>
    }
    @case ('paused') {
      <button 
        type="button"
        title="start the timer again"
        (click)="timer.start()"
        class="btn">
        <fa-duotone-icon [icon]="icons.start" />
      </button>
      <button 
        type="button"
        title="stop the timer"
        (click)="timer.stop()"
        class="btn">
        <fa-duotone-icon [icon]="icons.stop" />
      </button>
    }
    @case ('completed') {
      <button 
        type="button"
        title="reset the timer"
        (click)="timer.reset()"
        class="btn">
        <fa-duotone-icon [icon]="icons.reset" />
      </button>
    }
  }
</div>
