<div class="flex justify-center">
    @switch (view()) {
      @case ('ring') {
        <app-timer-ring [remaining]="remaining()" [percent]="percent()" />
      }
      @case ('bar') {
        <div class="flex-1">
          <app-timer-bar [remaining]="remaining()" [percent]="percent()" />
        </div>
      }
      @case ('fill') {
        <app-timer-fill [remaining]="remaining()" [percent]="percent()" />
      }
    }
</div>
<div class="flex justify-center items-center gap-4">
  @switch (state()) {
    @case ('idle') {
      <button 
        type="button"
        title="start the timer"
        (click)="restart()"
        class="btn">
        <fa-duotone-icon [icon]="icons.start" />
      </button>
    }
    @case ('running') {
      <button 
        type="button"
        title="pause the timer"
        (click)="pause()"
        class="btn">
        <fa-duotone-icon [icon]="icons.pause" />
      </button>
    }
    @case ('paused') {
      <button 
        type="button"
        title="start the timer again"
        (click)="start()"
        class="btn">
        <fa-duotone-icon [icon]="icons.start" />
      </button>
      <button 
        type="button"
        title="stop the timer"
        (click)="stop()"
        class="btn">
        <fa-duotone-icon [icon]="icons.stop" />
      </button>
    }
    @case ('complete') {
      <button 
        type="button"
        title="restart the timer"
        (click)="restart()"
        class="btn">
        <fa-duotone-icon [icon]="icons.restart" />
      </button>
    }
  }
</div>
<div class="flex my-4 sm:my-6 md:my-8 ">
  @for (v of views(); track v) {
    <button 
      [title]="`change to ${v} view`"
      (click)="setView(v)"
      class="tab" [class.current]="view() === v">{{capitalize(v)}}</button>
  }
</div>
