:host {
  display: block;
}

.ring-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.ring-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.ring-background {
  fill: none;
  stroke: #e2e8f0;
  stroke-width: 8;
}

.ring-progress {
  fill: none;
  stroke: #64748b;
  stroke-width: 8;
  stroke-dasharray: 314.16;
  stroke-dashoffset: 314.16;
  transition: stroke-dashoffset 0.1s linear;
  stroke-linecap: round;
}

.ring-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #334155;
}
