@reference "tailwindcss";

:host {
  display: block;
  .btn {
    @apply py-1 px-2 sm:py-2 sm:px-4 md:py-4 md:px-6 
      bg-slate-300 text-slate-800 
      text-lg rounded-lg sm:text-xl sm:rounded-lg md:text-2xl md:rounded-xl  cursor-pointer;
  }
}