<!-- editor button -->
<button 
  type="button"
  (click)="toggle()"
  [disabled]="timer.state() === 'running'"
  class="py-1 px-2 cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed">
  <fa-duotone-icon [icon]="icons.edit" />
  <span class="sr-only">edit timer</span>  
</button>

@if (state() === 'open') {
  <div 
    (click)="toggle()"
    class="overlay"></div>
  <div class="modal">
      <div class="modal-inner">
        <!-- header -->
        <div class="py-1 px-2 bg-slate-500 text-slate-50 flex items-center">
          <span class="flex-1">Edit Timer</span>
          <button 
            type="button"
            (click)="cancelEdits()"
            class="py-1 px-2 cursor-pointer">
            <fa-duotone-icon [icon]="icons.close" />
          </button>
        </div>
        <!-- body -->
        <div class="py-1">
          <!-- time -->
          <div class="grid grid-cols-2">
            <div class="col-span-2 text-center font-bold text-slate-500 text-xl bg-slate-50">
              Time
            </div>
            <div class="flex flex-col justify-center items-center gap-1">
              <label for="value" class="font-bold">Value</label>
              <input 
                type="number" 
                id="value" name="value"
                [min]="0"
                [max]="maxTimeValue()"
                [step]="stepTimeValue()"
                [ngModel]="timeValue()"
                (change)="onValueSelected($any($event.target).value)"
                class=""
              />
            </div>
            <div class="flex flex-col justify-center items-center gap-1">
              <label for="unit" class="font-bold">Unit</label>
              <select 
                id="unit" name="unit"
                [ngModel]="timeUnit()"
                (change)="onUnitSelected($any($event.target).value)"              
                class=""
              >
                <option disabled value="">--select unit--</option>
                @for (unit of units; track unit) {
                  <option [value]="unit">{{unit}}</option>
                }
              </select>
            </div>
          </div>
          <!-- view -->
          <div class="my-4">
            <div class="text-center font-bold text-slate-500 text-xl bg-slate-50">
              View
            </div>
            <div class="flex">
              @for (v of views; track v) {
                <button 
                  [title]="`change to ${v} view`"
                  (click)="onViewSelected(v)"
                  class="tab" [class.current]="view() === v">{{capitalize(v)}}</button>
              }
            </div>
  
          </div>
        </div>
        <!-- footer -->
         <div class="flex justify-center gap-2 py-4 px-2 bg-slate-100">
            <button 
              type="button"
              (click)="saveEdits()"
              class="py-2 px-4 bg-slate-500 text-white font-bold rounded-lg cursor-pointer">
              save
            </button>
            <button 
              type="button"
              (click)="cancelEdits()"
              class="py-2 px-4 bg-slate-200 font-bold rounded-lg cursor-pointer">
              cancel
            </button>
         </div>
      </div>
  </div>
}
