<header class="fixed bottom-0 left-0 w-full py-2 bg-slate-300/70 text-slate-600 text-sm z-10">
  <nav class="flex items-center justify-center gap-8">
    <span class="">&copy;{{date()}} {{copyright()}}</span>
    <span class="text-xs">v{{version()}}</span>
    <span class="inline-flex items-center gap-1">
      <span>Timer:</span>
      @if (timer.state() === 'running') {
        <span>{{timer.formattedRemaining()}}</span>
      }
      @else {
        <span>{{timer.state()}}</span>
      }
    </span>
  </nav>
  <div class="version-info flex justify-center items-center gap-8 text-xs">
    @for (item of versions(); track $index) {
      <span (click)="ping()">{{item.key}}: v{{item.value}}</span>
    }
  </div>
</header>