<header class="fixed top-0 left-0 w-full py-2 z-10 bg-white/95">
  <nav class="view-area flex items-center">
    <button
      type="button"
      [title]="`${active() ? 'close' : 'open'} menu`"
      (click)="toggle()"
      class="flex items-center gap-2 cursor-pointer"
    >
      <fa-duotone-icon [icon]="active() ? icons.close : icons.menu" class="text-2xl" />
    </button>
    <h1 class="flex-1">
      <a [routerLink]="['/']">
        <app-brand [state]="timer.state()" />
      </a>
    </h1>
  </nav>
</header>
@if (active()) {
  <div class="fixed top-12 left-0 w-full z-10" (click)="toggle()">
    <div class="view-area flex">
      <nav class="bg-slate-700 text-slate-100 p-4 flex flex-col justify-center items-center gap-4">
        <a [routerLink]="['/about']" class="hover:text-white">About</a>
        <a [routerLink]="['/help']" class="hover:text-white">Help</a>
        <div class="w-full h-1 bg-slate-400"></div>
        <a [routerLink]="['/test']" class="hover:text-white">Test</a>
      </nav>
    </div>
  </div>
}
