<div class="view-area py-8">
  <h1 class="text-center">{{title()}}</h1>
  <h2 class="text-center">{{subtitle()}}</h2>

  <div class="my-8 w-full h-1 bg-slate-200"></div>

  <h3 class="">Status + Types</h3>
  <div class="grid grid-cols-3 gap-2">
    @for (size of sizeList(); track size) {
      <div>
        @for (status of statusList(); track status) {
          <div class="flex items-center gap-2">
            <app-project-status [status]="status" [size]="size" />
            <span>{{status}}</span>
          </div>
        }
      </div>
    }
    @for (size of sizeList(); track size) {
      <div>
        @for (type of typeList(); track type) {
          <div class="flex items-center gap-2">
            <app-project-type [type]="type" [size]="size" />
            <span>{{type}}</span>
          </div>
        }
      </div>
    }
  </div>

  
  <app-project-list class="mt-8" />

</div>