<div class="view-area">
  <h1 class="text-center">{{title()}}</h1>
  <h2 class="text-center">{{subtitle()}}</h2>

  <div class="my-8 w-full h-1 bg-slate-200"></div>

  <div class="flex justify-end gap-4">
    <button 
      type="button"
      (click)="seed(2)"
      class="py-1 px-2 border border-slate-600 rounded-md cursor-pointer"
    >
      Seed Projects (2)
    </button>
    <button 
      type="button"
      (click)="seed(5)"
      class="py-1 px-2 border border-slate-600 rounded-md cursor-pointer"
    >
      Seed Projects (5)
    </button>
    <button 
      type="button"
      (click)="seed()"
      class="py-1 px-2 border border-slate-600 rounded-md cursor-pointer"
    >
      Seed Projects (all)
    </button>
  </div>
  <app-project-list />

  
</div>