@reference "tailwindcss";

:host {
  @apply block border border-slate-300 rounded shadow-md overflow-hidden;

  .section {
    @apply py-3 px-2;
  }
  .field {
    @apply my-6 relative p-4;  /* add flex-wrap so errors will wrap to next line */
  }

  label { 
    @apply absolute top-0 left-4 text-sm font-semibold text-slate-500;
    &:has(+ [required]) {
      &::after {
        @apply pl-1 text-red-300 content-['*'];
      }
    }
    &.dirty {
      @apply text-slate-950;
    }
    &:has(+ [disabled]) {
      @apply text-slate-400;
    }
  }

  input, .input, select, .select, textarea, .textarea {
    @apply block w-full p-4 col-span-4
      bg-slate-50 text-slate-800 
      disabled:bg-white
      focus:bg-white focus:text-black
      border border-white border-b-slate-400 rounded-md
      disabled:border-none
      invalid:border-b-red-500 invalid:bg-red-100;
  }

  .message {
    @apply col-span-4 col-start-2;
  }

  .action {
    @apply py-2 px-4 bg-slate-200 font-bold rounded-lg cursor-pointer 
      disabled:opacity-40 disabled:cursor-not-allowed;
    &.action-default {
      @apply bg-slate-700 text-white;
    }
     
  }
}