@reference "tailwindcss";

:host {
  display: block;

  .editor {
    @apply relative;

    input, select {
      @apply py-1 px-2 text-right
        bg-slate-50 text-slate-950 
        focus:bg-white focus:text-black
        border-none rounded
        focus:ring-0
    }
  
    .action {
      @apply p-2 cursor-pointer text-lg
        disabled:opacity-40 disabled:cursor-not-allowed;
    }
  }


}