<div class="view-area">

  <div class="my-8 py-2 border-y-2 border-slate-100 flex justify-center gap-8 text-xl">
    @for (v of views; track $index) {
      <button 
        type="button"
        (click)="view.set(v)"
        [class]="'py-2 px-8 cursor-pointer ' + (v === view() ? 'bg-slate-700 text-white' : 'bg-slate-100 text-slate-900 hover:bg-slate-200')"
      >
        {{v}}
      </button>
    }
  </div>
  <div class="my-8 w-full h-1 bg-slate-200"></div>

  @switch (view()) {
    @case ('List') {
      <app-task-list format="List"/>
    }
    @case ('Grid') {
      <app-task-list format="Grid" />
    }
    @case ('Kanban') {
      <app-task-kanban />
    }
    @case ('Dashboard') {
      <app-project-task-dashboard />
    }
  }  

  
</div>