

@import "tailwindcss";

@import "./fonts.css";

/* customize tailwind */
@theme {
  --word-spacing-tightest: -0.3em;
  --word-spacing-tighter: -0.2em;
  --word-spacing-tight: -0.1em;
  --word-spacing-normal: 0em;
  --word-spacing-wide: 0.1em;
  --word-spacing-wider: 0.2em;
  --word-spacing-widest: 0.3em;
}
@utility word-spacing-* {
  word-spacing: --value(--word-spacing-*, [*]);  /* default allows arbitrary values */
}

.view-area {
  @apply max-w-5xl mx-auto;
}


h1 { @apply flex items-center justify-center gap-2 font-serif font-light text-slate-600 text-4xl sm:text-5xl; }
h2 { @apply flex items-center justify-start gap-2 font-serif font-semibold text-slate-900 text-2xl sm:text-3xl; }
h3 { @apply flex items-center justify-start gap-2 font-serif font-bold text-slate-400 uppercase text-lg sm:text-xl; }

a.primary { @apply text-slate-700 hover:text-slate-900 transition-colors;}

